{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="#">Home</a></li>
            <li><a href="#">Mobile Phone</a></li>
            <li><a href="#">Apple</a></li>
            <li class="active">iPhone 6S Plus</li>
        </ul>
        <!-- END breadcrumb -->

        <!-- BEGIN product -->
        <div class="product">
            <!-- BEGIN product-detail -->
            <div class="product-detail">
                <!-- BEGIN product-image -->
                <div class="product-image">
                    <!-- BEGIN product-thumbnail -->
                    <div class="product-thumbnail">
                        <ul class="product-thumbnail-list">
                            <li class="active"><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-2.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-2.jpg' %}" alt="" /></a></li>
                            <li><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-3.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-3.jpg' %}" alt="" /></a></li>
                            <li><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-4.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-4.jpg' %}" alt="" /></a></li>
                            <li><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-5.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-5.jpg' %}" alt="" /></a></li>
                            <li><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-6.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-6.jpg' %}" alt="" /></a></li>
                            <li><a href="#" data-click="show-main-image"
                                    data-url="{% static 'assets/img/iphone-6s-plus-7.jpg' %}"><img
                                        src="{% static 'assets/img/iphone-6s-plus-7.jpg' %}" alt="" /></a></li>
                        </ul>
                    </div>
                    <!-- END product-thumbnail -->
                    <!-- BEGIN product-main-image -->
                    <div class="product-main-image" data-id="main-image">
                        <img src="{{item.img.url}}" alt="" />
                    </div>
                    <!-- END product-main-image -->
                </div>
                <!-- END product-image -->
                <!-- BEGIN product-info -->
                <div class="product-info">
                    <!-- BEGIN product-info-header -->
                    <div class="product-info-header">
                        <h1 class="product-title"><span class="label label-success">{{item.off}}% OFF</span>
                            {{item.name}} </h1>
                        <ul class="product-category">
                            <li><a href="#">iPhone</a></li>
                            <li>/</li>
                            <li><a href="#">mobile phone</a></li>
                            <li>/</li>
                            <li><a href="#">electronics</a></li>
                            <li>/</li>
                            <li><a href="#">lifestyle</a></li>
                        </ul>
                    </div>
                    <!-- END product-info-header -->
                    <!-- BEGIN product-warranty -->
                    <div class="product-warranty">
                        <div class="pull-right">Availability: {{details.availability}}</div>
                        <div><b>{{details.warranty}} Year</b> Local Manufacturer Warranty</div>
                    </div>
                    <!-- END product-warranty -->
                    <!-- BEGIN product-info-list -->
                    <ul class="product-info-list">
                        <li><i class="fa fa-circle"></i> {{details.display}}</li>
                        <li><i class="fa fa-circle"></i> {{details.fingerprint}}</li>
                        <li><i class="fa fa-circle"></i> {{details.chip}} </li>
                        <li><i class="fa fa-circle"></i> Ultrafast 4G LTE Advanced wireless</li>
                        <li><i class="fa fa-circle"></i> {{details.camera}}</li>
                        <li><i class="fa fa-circle"></i> {{details.camera_recording}}</li>
                        <li><i class="fa fa-circle"></i> {{details.operating_system}}</li>
                    </ul>
                    <!-- END product-info-list -->
                    <!-- BEGIN product-social -->
                    <div class="product-social">
                        <ul>
                            <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <!-- END product-social -->
                    {% if item %}
                    <!-- BEGIN product-purchase-container -->
                    <div class="product-purchase-container">
                        <div class="product-discount">
                            <span class="discount">${{ item.discount }}</span>
                        </div>
                        <div class="product-price">
                            <div class="price">${{ item.price }}</div>
                        </div>
                        <button class="btn btn-inverse btn-lg" type="submit">
                            <a href="{% url 'checkout_cart' item.id %}">ADD TO CART</a></button>
                    </div>
                    <!-- END product-purchase-container -->
                    {% else %}
                    <!-- BEGIN default-product-purchase-container -->
                    <div class="product-purchase-container">
                        <div class="product-discount">
                            <span class="discount">$250</span>
                        </div>
                        <div class="product-price">
                            <div class="price">$200</div>
                        </div>
                        <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                    </div>
                    <!-- END default-product-purchase-container -->
                    {% endif %}

                </div>
                <!-- END product-info -->
            </div>
            <!-- END product-detail -->
            <!-- BEGIN product-tab -->
            <div class="product-tab">
                <!-- BEGIN #product-tab -->
                <ul id="product-tab" class="nav nav-tabs">
                    <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                    <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                    <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                </ul>
                <!-- END #product-tab -->
                <!-- BEGIN #product-tab-content -->
                <div id="product-tab-content" class="tab-content">
                    <!-- BEGIN #product-desc -->
                    <div class="tab-pane fade active in" id="product-desc">
                        <!-- BEGIN product-desc -->
                        <div class="product-desc">
                            <div class="image">
                                <img src="{{details.look_img.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>iPhone 6s</h4>
                                <p>{{details.look_desc}}</p>
                            </div>
                        </div>
                        <!-- END product-desc -->
                        <!-- BEGIN product-desc -->
                        <div class="product-desc right">
                            <div class="image">
                                <img src="{{details.touch_img.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>3D Touch</h4>
                                <p>{{details.touch_desc}}</p>
                            </div>
                        </div>
                        <!-- END product-desc -->
                        <!-- BEGIN product-desc -->
                        <div class="product-desc">
                            <div class="image">
                                <img src="{{details.cameras_img.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>Cameras</h4>
                                <p>{{details.cameras_desc}}</p>
                            </div>
                        </div>
                        <!-- END product-desc -->
                        <!-- BEGIN product-desc -->
                        <div class="product-desc right">
                            <div class="image">
                                <img src="{{details.technology_img.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>Technology</h4>
                                <p>{{details.technology_desc}}</p>
                            </div>
                        </div>
                        <!-- END product-desc -->
                        <!-- BEGIN product-desc -->
                        <div class="product-desc">
                            <div class="image">
                                <img src="{{details.design_img.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>Design</h4>
                                <p>{{details.design_desc}}</p>
                            </div>
                        </div>
                        <!-- END product-desc -->
                    </div>
                    <!-- END #product-desc -->
                    <!-- BEGIN #product-info -->
                    <div class="tab-pane fade" id="product-info">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive">
                            <!-- BEGIN table-product -->
                            <table class="table table-product table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>iPhone 6s</th>
                                        <th>iPhone 6s Plus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="field">Capacity</td>
                                        <td>
                                            16GB<br />
                                            64GB<br />
                                            128GB
                                        </td>
                                        <td>
                                            16GB<br />
                                            64GB<br />
                                            128GB
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Weight and Dimensions</td>
                                        <td>
                                            5.44 inches (138.3 mm) x 2.64 inches (67.1 mm) x 0.28 inch (7.1 mm)<br />
                                            Weight: 5.04 ounces (143 grams)
                                        </td>
                                        <td>
                                            6.23 inches (158.2 mm) x 3.07 inches (77.9 mm) x 0.29 inch (7.3 mm)<br />
                                            Weight: 6.77 ounces (192 grams)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Display</td>
                                        <td>
                                            Retina HD display with 3D Touch<br />
                                            4.7-inch (diagonal) LED-backlit widescreen<br />
                                            1334-by-750-pixel resolution at 326 ppi<br />
                                            1400:1 contrast ratio (typical)<br />
                                            <br />
                                            <b>Both models:</b><br />
                                            500 cd/m2 max brightness (typical)<br />
                                            Full sRGB standard<br />
                                            Dual-domain pixels for wide viewing angles<br />
                                            Fingerprint-resistant oleophobic coating on front<br />
                                            Support for display of multiple languages and characters
                                            simultaneously<br />
                                            Display Zoom<br />
                                            Reachability
                                        </td>
                                        <td>
                                            Retina HD display with 3D Touch<br />
                                            5.5-inch (diagonal) LED-backlit widescreen<br />
                                            1920-by-1080-pixel resolution at 401 ppi<br />
                                            1300:1 contrast ratio (typical)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Chip</td>
                                        <td colspan="2">
                                            A9 chip with 64-bit architecture Embedded M9 motion coprocessor
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">iSight Camera</td>
                                        <td colspan="2">
                                            New 12-megapixel iSight camera with 1.22µ pixels<br />
                                            Live Photos<br />
                                            Autofocus with Focus Pixels<br />
                                            Optical image stabilization (iPhone 6s Plus only)<br />
                                            True Tone flash<br />
                                            Panorama (up to 63 megapixels)<br />
                                            Auto HDR for photos<br />
                                            Exposure control<br />
                                            Burst mode<br />
                                            Timer mode<br />
                                            ƒ/2.2 aperture<br />
                                            Five-element lens<br />
                                            Hybrid IR filter<br />
                                            Backside illumination sensor<br />
                                            Sapphire crystal lens cover<br />
                                            Auto image stabilization<br />
                                            Improved local tone mapping<br />
                                            Improved noise reduction<br />
                                            Face detection<br />
                                            Photo geotagging
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Video Recording</td>
                                        <td colspan="2">
                                            4K video recording (3840 by 2160) at 30 fps<br />
                                            1080p HD video recording at 30 fps or 60 fps<br />
                                            720p HD video recording at 30 fps<br />
                                            Optical image stabilization for video (iPhone 6s Plus only)<br />
                                            True Tone flash<br />
                                            Slo-mo video support for 1080p at 120 fps and 720p at 240 fps<br />
                                            Time-lapse video with stabilization<br />
                                            Cinematic video stabilization (1080p and 720p)<br />
                                            Continuous autofocus video<br />
                                            Improved noise reduction<br />
                                            Take 8MP still photos while recording 4K video<br />
                                            Playback zoom<br />
                                            3x zoom<br />
                                            Face detection<br />
                                            Video geotagging
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- END table-product -->
                        </div>
                        <!-- END table-responsive -->
                    </div>
                    <!-- END #product-info -->



                    <!-- BEGIN #product-reviews -->
                    <div class="tab-pane fade" id="product-reviews">
                        <!-- BEGIN row -->
                        <div class="row row-space-30">
                            {% if reviews %}
                            {% for review in reviews %}
                            <div class="review">
                                <div class="review-info">
                                    <div class="review-icon"><img src="assets/img/user-1.jpg" alt="" /></div>
                                    <div class="review-rate">
                                        <div class="color-star">
                                            <span>
                                                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="review-name">{{ review.user.username }}</div>
                                    <div class="review-date">{{ review.updated_at }}</div>
                                </div>
                                {% if review.subject %}
                                <div class="review-title">
                                    {{ review.subject }}
                                </div>
                                {% endif %}
                                {% if review.review %}
                                <div class="review-message">
                                    {{ review.review }}
                                </div>
                                {% endif %}
                            </div>
                            <!-- END review -->
                            {% endfor %}
                            {% else %}
                            <div class="review-message">
                                <h1>No Review yet</h1>
                            </div>
                            {% endif %}
                        </div>
                        <!-- END col-7 -->
                        <!-- BEGIN col-5 -->
                        <div class="col-md-5">
                            <!-- BEGIN review-form -->
                            <div class="review-form">
                                <form action="{% url 'submit_review' item.id %}" name="review_form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <h2>Write a review</h2>
                                
                                        <div class="form-group">
                                            <label for="subject">Title <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="subject" name="subject" required/>
                                        </div>
                                
                                        <div class="form-group">
                                            <label for="review">Review <span class="text-danger">*</span></label>
                                            <textarea class="form-control" rows="8" id="review" name="review" required></textarea>
                                        </div>
                                
                                        <div class="form-group">
                                            <label for="rating">Rating <span class="text-danger">*</span></label>
                                            <div class="rate">
                                                <input type="radio" name="rating" id="rating1" value="0.5" required/><label for="rating1" title="0.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating2" value="1" required/><label for="rating2" title="1"></label>
                                                <input type="radio" name="rating" id="rating3" value="1.5" required/><label for="rating3" title="1.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating4" value="2" required/><label for="rating4" title="2"></label>
                                                <input type="radio" name="rating" id="rating5" value="2.5" required/><label for="rating5" title="2.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6" title="3"></label>
                                                <input type="radio" name="rating" id="rating7" value="3.5" required/><label for="rating7" title="3.5" class="half"></label>
                                                <input type="radio" name="rating" id="rating8" value="4" required/><label for="rating8" title="4"></label>
                                                <input type="radio" name="rating" id="rating9" value="4.5" required/><label for="rating9" title="4.5" class="half"></label>
                                                
                                                <input type="radio" name="rating" id="rating10" value="5" required/><label for="rating10" title="5"></label>
                                            </div>
                                        </div>
                                
                                        {% if request.user.is_authenticated %}
                                        <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                        {% endif %}
                                    </div>
                                </form>
                                
                            </div>
                            <!-- END review-form -->
                        </div>
                        <!-- END col-5 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END #product-reviews -->
            </div>
            <!-- END #product-tab-content -->
        </div>
        <!-- END product-tab -->
    </div>
    <!-- END product -->

    <!-- BEGIN similar-product -->
    <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
    <div class="row row-space-10">
        <!-- BEGIN item -->
        {% if trending %}
        {% for mobile in trending|slice:':6' %}
        <div class="col-md-2 col-sm-4">
            <!-- BEGIN item -->
            <div class="item item-thumbnail">
                <a href="{% url 'product_info' mobile.id  %}" class="item-image">
                    <img src="{{mobile.img.url}}" alt="{{ mobile.name }}" />
                    <div class="discount">{{ mobile.off }}% OFF</div>
                </a>
                <div class="item-info">
                    <h4 class="item-title">
                        <a href="{% url 'product_info' mobile.id  %}">{{ mobile.name }}<br /></a>
                    </h4>
                    <p class="item-desc">{{ mobile.short_desc }}</p>
                    <div class="item-price">${{ mobile.price }}</div>
                    <div class="item-discount-price">${{ mobile.discount }}</div>
                </div>
            </div>

            <!-- END item -->
        </div>
        {% endfor %}
        <!-- END item -->
        {% else %}
        <p>No mobile items available.</p>
        {% endif %}



        <!-- END similar-product -->
    </div>
    <!-- END container -->
</div>
<!-- END #product -->

{% endblock content %}